<div class="information-wrapper">
<div class="information-inner-text">
<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
  <h1><%= t '.title' %></h1>
  <%= form_with model: @advice_material, local: true do |f| %>
    <div class="form-group">
      <%= f.label :city, AdviceMaterial.human_attribute_name(:city) %><br>
      <%= f.select :city_id, [["札幌",1], ["青森", 2], ["盛岡", 3], ["仙台", 4], ["秋田", 5], ["山形", 6], ["福島", 7], ["水戸", 8], ["宇都宮", 9], ["前橋", 10], ["さいたま", 11], ["千葉", 12], ["東京", 13], ["横浜", 14], 
      ["新潟", 15], ["富山", 16], ["金沢", 17], ["福井", 18], ["山梨", 19], ["長野", 20], ["岐阜", 21], ["静岡", 22], ["名古屋", 23], ["津", 24], ["大津", 25], ["京都", 26], ["大阪", 27], ["神戸", 28], ["奈良", 29], ["和歌山", 30], ["鳥取", 31], ["松江", 32], ["岡山", 33], 
      ["広島", 34], ["山口", 35], ["徳島", 36], ["高松", 37], ["松山", 38], ["高知", 39], ["福岡", 40], ["佐賀", 41], ["長崎", 42], ["熊本", 43], ["大分", 44], ["宮崎県", 45], ["鹿児島", 46], ["那覇", 47]],include_blank: "選択して下さい" , class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :date, AdviceMaterial.human_attribute_name(:forecast_date) %><br>
      <%= f.select :forecast_date, [["今日"],["明日"]], include_blank: "選択して下さい", class: 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit (t 'defaults.register'), class: 'btn btn-primary' %>
    </div>
  <% end %>
  </div>
  </div>
</div>
</div>
</div>