<div class='top-wrapper'>
  <div class='top-inner-text'>
    <% if @advice_material.forecast_date == "今日" %>
      <h2><%= "今日の#{City.joins(advice_materials: :user).where(user: {id: current_user}).pluck(:city_name).join}の天気は" %></h2>
      <%= image_tag "http://openweathermap.org/img/wn/#{@weather_icon.chop}d@2x.png" %>
      <h2>今日の気温は</h2>
      <h4><%= "最高#{@temp_max}度、最低#{@temp_min}度です。" %> </h4>
      <h2>湿度は</h2>
      <h4><%= "#{@humidity}％です。"%> </h4>
    <% else %>
      <h2><%= "明日の#{City.joins(advice_materials: :user).where(user: {id: current_user}).pluck(:city_name).join}の天気は" %></h2>
      <%= image_tag "http://openweathermap.org/img/wn/#{@weather_icon.chop}d@2x.png" %>
      <h2>明日の気温は</h2>
      <h4><%= "最高#{@temp_max}度、最低#{@temp_min}度です。" %> </h4>
    <% end %>
  

    <h2><%= "#{@hair_type}癖っ毛さんの髪型注意報" %></h2>
    <% if @hair_type = "剛毛" && @temp_max <= 28 && @wind_speed <= 8 %>
     <% if @humidity >= 80 %>
        <h4>髪型爆発注意報。アホ毛が止まりません。前髪もうねります。ヘアスプレーで、しっかりと固めてしまい、アホ毛を防止しましょう。</h4>
      <% elsif @humidity >= 70 && @humidity < 80 %>
        <h4>湿度高いです。前日夜からしっかりケアを。スタイルング時は、クリーム系やオイル系のトリートメント材の使用をお勧め。</h4>
      <% elsif @humidity >= 65 && @humidity < 70 %>
        <h4>少し湿度が高め、アホ毛が出てきます。</h4>
      <% elsif @humidity >= 50 && @humidity < 65 %>
        <h4>髪型絶好調</h4>
      <% elsif @humidity < 50 %>
        <h4>乾燥しています。髪がパサパサした感じになるので、しっかりトリートメントを行なってください。保湿力の高い重めのクリームタイプ・オイルタイプがおすすめ。室内では加湿器をつけるといいでしょう。</h4> 
      <% end %>
    <% elsif @hair_type = "剛毛" && @temp_max <= 28 && @wind_speed > 8 %>
      <% if @humidity >= 80 %>
        <h4>髪型爆発警報。風が強いです。アホ毛も止まりません。前髪もうねります。ヘアスプレーで、しっかりと固めてしまい、アホ毛を防止しましょう。</h4>
      <% elsif @humidity >= 70 && @humidity < 80 %>
        <h4>風が強いです。湿度も高いです。前日夜からしっかりケアを。スタイルング時は、クリーム系やオイル系のトリートメント材の使用をお勧め。</h4>
      <% elsif @humidity >= 65 && @humidity < 70 %>
        <h4>風が強いです。加えて、少し湿度が高いため、アホ毛が出てきます。</h4>
      <% elsif @humidity >= 50 && @humidity < 65 %>
        <h4>癖は出ませんが、風が強いです。長髪の方はまとめ髪がいいでしょう。</h4>
      <% elsif @humidity < 50 %>
        <h4>風が強いです。乾燥しています。髪がパサパサした感じになるので、しっかりトリートメントを行なってください。保湿力の高い重めのクリームタイプ・オイルタイプがおすすめ。室内では加湿器をつけるといいでしょう。</h4> 
      <% end %>
    <% elsif @hair_type = "剛毛" && @temp_max > 28 && @wind_speed <= 8 %>
      <% if @humidity >= 80 %>
        <h4>髪型爆発注意報。アホ毛が止まりません。前髪もうねります。ヘアスプレーで、しっかりと固めてしまい、アホ毛を防止しましょう。気温が高いので、汗をかくと前髪がうねります。前髪もヘアスプレーで固めましょう。</h4>
      <% elsif @humidity >= 70 && @humidity < 80 %>
        <h4>湿度高いです。前日夜からしっかりケアを。スタイルング時は、クリーム系やオイル系のトリートメント材の使用をお勧め。気温が高いので、汗で前髪がうねるかも！！心配だったらヘアスプレーで固めましょう。</h4>
      <% elsif @humidity >= 65 && @humidity < 70 %>
        <h4>少し湿度が高め、アホ毛が出てきます。気温が高いので、汗で前髪がうねるかも！！心配だったらヘアスプレーで固めましょう。</h4>
      <% elsif @humidity >= 50 && @humidity < 65 %>
        <h4>気温が高いので、汗で前髪がうねるかも！！心配だったらヘアスプレーで固めましょう。</h4>
      <% elsif @humidity < 50 %>
        <h4>乾燥しています。髪がパサパサした感じになるので、しっかりトリートメントを行なってください。室内では加湿器をつけるといいでしょう。保湿力の高い重めのクリームタイプ・オイルタイプがおすすめ。気温が高いので、汗で前髪がうねるかも！！心配だったらヘアスプレーで固めましょう。</h4> 
      <% end %>
    <% elsif @hair_type = "剛毛" && @temp_max > 28 && @wind_speed > 8 %>
      <% if @humidity >= 80 %>
        <h4>髪型爆発警報。風が強いです。アホ毛も止まりません。前髪もうねります。汗で前髪が張り付きます。ヘアスプレーで、しっかりと固めてしまい、アホ毛を防止しましょう。前髪もヘアスプレーで固めましょう。まとめ髪にしてしまいましょう。</h4>
      <% elsif @humidity >= 70 && @humidity < 80 %>
        <h4>風が強いです。湿度も高いです。前日夜からしっかりケアを。風が強いので、まとめ髪の方がいいかも。スタイルング時は、クリーム系やオイル系のトリートメント材の使用をお勧め。汗をかくと、前髪がうねるので、ヘアスプレーで固めてしまいましょう。</h4>
      <% elsif @humidity >= 65 && @humidity < 70 %>
        <h4>風が強いです。加えて、少し湿度が高いため、アホ毛が出てきます。風が強いので、まとめ髪でもいいかも。気温が高いので、汗をかくと前髪のうねりに注意。</h4>
      <% elsif @humidity >= 50 && @humidity < 65 %>
        <h4>癖は出ませんが、風が強いです。長髪の方はまとめ髪がいいでしょう。気温が高いので、汗をかくと前髪のうねりに注意。</h4>
      <% elsif @humidity < 50 %>
        <h4>風が強いです。乾燥しています。髪がパサパサした感じになるので、しっかりトリートメントを行なってください。保湿力の高い重めのクリームタイプ・オイルタイプがおすすめ。室内では加湿器をつけるといいでしょう。</h4> 
      <% end %>
    <% elsif @hair_type = "猫っ毛" && @temp_max <= 28 && @wind_speed <= 8 %>
      <% if @humidity >= 80 %>
        <h4>髪型ペタッと注意報。髪がうねります。前髪もうねります。ヘアアイロンで真っ直ぐにし、スプレーやワックスで補えましょう。まとめ髪がいいかも。</h4>
      <% elsif @humidity >= 70 && @humidity < 80 %>
        <h4>湿度高いです。髪がうねります。前日夜からしっかりケアを。髪の毛がベタッとしてしまいがちなので、しっとりタイプよりもさらさらのミルクトリートメントやスプレータイプのヘアオイルがおすすめです。</h4>
      <% elsif @humidity >= 65 && @humidity < 70 %>
        <h4>少し湿度が高め、アホ毛が出てきます。</h4>
      <% elsif @humidity >= 50 && @humidity < 65 %>
        <h4>髪型絶好調</h4>
      <% elsif @humidity < 50 %>
        <h4>乾燥しています。髪がパサパサした感じになるので、しっかりトリートメントを行なってください。中間～毛先に薄くバームやヘアクリームをつけてケアしましょう。根元につけると、ぺったとしてしまいます。室内では加湿器をつけるといいでしょう。</h4> 
      <% end %>
   <% elsif @hair_type = "猫っ毛" && @temp_max <= 28 && @wind_speed > 8 %>
      <% if @humidity >= 80 %>
       <h4>髪型ペタッと警報。風が強いです。髪がうねります。前髪もうねります。ヘアアイロンで真っ直ぐにし、スプレーやワックスで補えましょう。まとめ髪がベスト。</h4>
      <% elsif @humidity >= 70 && @humidity < 80 %>
        <h4>風が強いです。湿度も高いです。前日夜からしっかりケアを。髪の毛がペタッとしてしまいがちなので、しっとりタイプよりもさらさらのミルクトリートメントやスプレータイプのヘアオイルがおすすめです。</h4>
      <% elsif @humidity >= 65 && @humidity < 70 %>
        <h4>風が強いです。加えて、少し湿度が高いため、うねります。ヘアセット後は、スプレーやワックスで整えてください。</h4>
      <% elsif @humidity >= 50 && @humidity < 65 %>
        <h4>癖は出ませんが、風が強いです。長髪の方はまとめ髪がいいでしょう。</h4>
      <% elsif @humidity < 50 %>
        <h4>風が強いです。乾燥しています。髪がパサパサした感じになるので、しっかりトリートメントを行なってください。中間～毛先に薄くバームやヘアクリームをつけてケアしましょう。根元につけると、ぺったとしてしまいます。室内では加湿器をつけるといいでしょう。</h4> 
      <% end %>
    <% elsif @hair_type = "猫っ毛" && @temp_max > 28 && @wind_speed <= 8 %>
      <% if @humidity >= 80 %>
        <h4>髪型ペタッと注意報。髪がうねります。前髪もうねります。ヘアアイロンで真っ直ぐにし、スプレーやワックスで補えましょう。まとめ髪がいいかも。気温が高いので、せっかくセットしても、汗をかくと前髪がうねります。前髪もヘアスプレーで固めましょう。</h4>
      <% elsif @humidity >= 70 && @humidity < 80 %>
        <h4>湿度高いです。髪がうねります。気温も高いので、汗をかくと、せっかくセットした前髪がうねるので、キープ力の高いスプレーで固めてしまいましょう。前日夜からしっかりケアを。髪の毛がベタッとしてしまいがちなので、しっとりタイプよりもさらさらのミルクトリートメントやスプレータイプのヘアオイルがおすすめです。</h4>
      <% elsif @humidity >= 65 && @humidity < 70 %>
        <h4>少し湿度が高め、うねりはじめるかも。気温が高いので、汗で前髪がうねるかも！！心配だったらヘアスプレーで固めましょう。</h4>
      <% elsif @humidity >= 50 && @humidity < 65 %>
        <h4>気温が高いので、汗で前髪がうねるかも！！心配だったらヘアスプレーで固めましょう。</h4>
      <% elsif @humidity < 50 %>
        <h4>乾燥しています。髪がパサパサした感じになるので、しっかりトリートメントを行なってください。中間～毛先に薄くバームやヘアクリームをつけてケアしましょう。根元につけると、ぺったとしてしまいます。室内では加湿器をつけるといいでしょう。</h4> 
      <% end %>
    <% elsif @hair_type = "猫っ毛" && @temp_max > 28 && @wind_speed > 8 %>
      <% if @humidity >= 80 %>
        <h4>髪型ペタッと警報。風が強いです。湿度も高いです。髪がうねります。前髪もうねります。もうまとめ髪にしましょう。ヘアアイロンで髪の表面を真っ直ぐにし、スプレーやワックスで補え結びましょう。気温が高いので、せっかくセットしても、汗をかくと前髪がうねります。前髪もヘアスプレーで固めましょう。</h4>
      <% elsif @humidity >= 70 && @humidity < 80 %>
        <h4>風が強いです。湿度も高いです。髪がうねります。まとめ髪がいいかも。気温も高いので、汗をかくと、せっかくセットした前髪がうねるので、キープ力の高いスプレーで固めてしまいましょう。前日夜からしっかりケアを。髪の毛がベタッとしてしまいがちなので、しっとりタイプよりもさらさらのミルクトリートメントやスプレータイプのヘアオイルがおすすめです。</h4>
      <% elsif @humidity >= 65 && @humidity < 70 %>
        <h4>風が強いです。加えて、少し湿度が高め、うねりはじめるかも。気温が高いので、汗で前髪がうねるかも！！風が強いので、外に出る時間が多いのであれば、まとめ髪がおすすめ。心配だったらヘアスプレーで固めましょう。</h4>
      <% elsif @humidity >= 50 && @humidity < 65 %>
        <h4>癖は出ませんが、風が強いです。気温が高いので、汗で前髪がうねるかも！！心配だったらヘアスプレーで固めましょう。</h4>
      <% elsif @humidity < 50 %>
        <h4>風が強いです。乾燥しています。髪がパサパサした感じになるので、しっかりトリートメントを行なってください。中間～毛先に薄くバームやヘアクリームをつけてケアしましょう。根元につけると、ぺったとしてしまいます。室内では加湿器をつけるといいでしょう。</h4> 
      <% end %>
    <% end %>
  </div>
</div>