<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
    <h1><%= t('.title') %></h1>
        <%= form_with model: @user, url: user_information_path, local: true do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.label :email %>
            <%= f.email_field :email, class:"form-control mb-3" %>
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class:"form-control mb-3" %>
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class:"form-control mb-3" %>
            
            <%= f.submit t('defaults.update'), class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>